{% extends "L2_students.html" %}
{% block title %}Alumni Profiles{% endblock %}
{% block alumniprofiles %}class="active"{% endblock %}

{% block content %}
    <h2>Alumni Profiles</h2>
    {% if alumni %}
        <table style="margin-top: 20px;" class="table table-bordered table-condensed">
						<thead><tr><td><b>Name</b></td><td><b>Advisor</b></td><td><b>Current Position</b></td></tr></thead>
            <tbody>
                {% for alumnus in alumni %}
								<tr><td>
												{% if alumnus.links|length > 1 %}
												<a href="{{ alumnus.links }}">{{ alumnus.firstname }}&nbsp;{{ alumnus.lastname }}</a>
												{% else %}
												{{ alumnus.firstname }}&nbsp;{{ alumnus.lastname }}
												{% endif %}
								</td><td>{{ alumnus.advisor }}</td><td>{{ alumnus.currentpos }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p style="margin-top: 20px;">Error.<p>
    {% endif %}
</div>
{% endblock %}
