{% extends "L2_students.html" %}
{% block title %}Calendar{% endblock %}
{% block calendar %}class="active"{% endblock %}

{% block content %}
<div id="calendar">
<iframe src="https://www.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=3pn2tvo3o0l5s85npp88ebgt14%40group.calendar.google.com&amp;color=%23875509&amp;src=slqns67h610tfne0j388ku5300%40group.calendar.google.com&amp;color=%231B887A&amp;src=87foikfjc3ktpk44mrjgup27h0%40group.calendar.google.com&amp;color=%23333333&amp;src=36sgjnor6q5c67vbbec83f1bu4%40group.calendar.google.com&amp;color=%23B1365F&amp;src=039jmdh2869agojposjmt4e2m0%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>	
</div>

{% endblock %}
