{% extends "L2_students.html" %}
{% block title %}Calendar{% endblock %}
{% block calendar %}class="active"{% endblock %}

{% block content %}
<div id="calendar">

<iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=slqns67h610tfne0j388ku5300%40group.calendar.google.com&amp;color=%23BE6D00&amp;src=87foikfjc3ktpk44mrjgup27h0%40group.calendar.google.com&amp;color=%23A32929&amp;src=36sgjnor6q5c67vbbec83f1bu4%40group.calendar.google.com&amp;color=%2329527A&amp;src=039jmdh2869agojposjmt4e2m0%40group.calendar.google.com&amp;color=%2388880E&amp;src=stanfordneuroscience%40gmail.com&amp;color=%2328754E&amp;src=qqemhh52tr28q3lc51l65ag3d4%40group.calendar.google.com&amp;color=%23B1440E&amp;src=mv2tv90sl505uvgqurvua9bpfo%40group.calendar.google.com&amp;color=%23875509&amp;src=qbpi8cvot8rbcent6jf15lqlpo%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>

</div>
</div>

{% endblock %}
