{% extends "L2_students.html" %}
{% block title %}Calendar{% endblock %}

{% block content %}
<div>
    <h2>Course Offerings</h2>
    <p>Browse available courses by sorting through one of the methods below:</p>
</div>
<ul id="courseTabs" class="nav nav-pills">
  <li><a href="#matrix" data-toggle="tab">Course Matrix</a></li>
  <li><a href="#area" data-toggle="tab">Sort by Concentration</a></li>
  <li><a href="#time" data-toggle="tab">Sort by Term Offered</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="matrix">
        <div class="well">
            Coming soon.
        </div>
    </div>
    <div class="tab-pane fade" id="area">
        <table class="coursematrix table table-striped">
            <tr><th colspan=4>Systems/Behavioral/Computational</th></tr>
            {% for course in tys %}<tr><td><a href="#" class="btn btn-info" rel="popover" id="{{ course.department }}{{ course.number }}" title="{{ course.department }} {{ course.number }}" data-content="{{ course.description }}">{{ course.department }} {{ course.number }}</a></td><td>{{ course.title }}</td><td>{{ course.professors }}</td><td>{{ course.get_quarter }} {{course.get_year }}</td></tr>{% endfor %}
            {% for course in nys %}<tr><td>{{ course.department }} {{ course.number }}</td><td>{{ course.title }}</td><td>{{ course.professors }}</td><td>{{ course.get_quarter }} {{course.get_year }}</td></tr>{% endfor %}
            <tr><td colspan=4>&nbsp;</td></tr>
            <tr><th colspan=4>Translational</th></tr>
            {% for course in tyt %}<tr><td>{{ course.department }} {{ course.number }}</td><td>{{ course.title }}</td><td>{{ course.professors }}</td><td>{{ course.get_quarter }} {{course.get_year }}</td></tr>{% endfor %}
            {% for course in nyt %}<tr><td>{{ course.department }} {{ course.number }}</td><td>{{ course.title }}</td><td>{{ course.professors }}</td><td>{{ course.get_quarter }} {{course.get_year }}</td></tr>{% endfor %}
            <tr><td colspan=4>&nbsp;</td></tr>
            <tr><th colspan=4>Cellular/Molecular/Developmental</th></tr>
            {% for course in tym %}<tr><td>{{ course.department }} {{ course.number }}</td><td>{{ course.title }}</td><td>{{ course.professors }}</td><td>{{ course.get_quarter }} {{course.get_year }}</td></tr>{% endfor %}
            {% for course in nym %}<tr><td>{{ course.department }} {{ course.number }}</td><td>{{ course.title }}</td><td>{{ course.professors }}</td><td>{{ course.get_quarter }} {{course.get_year }}</td></tr>{% endfor %}
        </table>
    </div>
    <div class="tab-pane fade" id="time">
        <table class="coursematrix table table-striped">
            <tr><th colspan=4>This Year</th></tr>
            {% for course in tys %}<tr><td>{{ course.department }} {{ course.number }}</td><td>{{ course.title }}</td><td>{{ course.professors }}</td><td>{{ course.get_concentration }}</td></tr>{% endfor %}
            {% for course in tyt %}<tr><td>{{ course.department }} {{ course.number }}</td><td>{{ course.title }}</td><td>{{ course.professors }}</td><td>{{ course.get_concentration }}</td></tr>{% endfor %}
            {% for course in tym %}<tr><td>{{ course.department }} {{ course.number }}</td><td>{{ course.title }}</td><td>{{ course.professors }}</td><td>{{ course.get_concentration }}</td></tr>{% endfor %}
            <tr><td colspan=4>&nbsp;</td></tr>
            <tr><th colspan=4>Next Year</th></tr>
            {% for course in nys %}<tr><td>{{ course.department }} {{ course.number }}</td><td>{{ course.title }}</td><td>{{ course.professors }}</td><td>{{ course.get_concentration }}</td></tr>{% endfor %}
            {% for course in nyt %}<tr><td>{{ course.department }} {{ course.number }}</td><td>{{ course.title }}</td><td>{{ course.professors }}</td><td>{{ course.get_concentration }}</td></tr>{% endfor %}
            {% for course in nym %}<tr><td>{{ course.department }} {{ course.number }}</td><td>{{ course.title }}</td><td>{{ course.professors }}</td><td>{{ course.get_concentration }}</td></tr>{% endfor %}
        </table>
    </div>
</div>
</div>
{% endblock %}

{% block scriptcontent %}
<script>
{% for course in courses %}
$(function () { $("#{{ course.department }}{{ course.number }}").popover();});
{% endfor %}
</script>
{% endblock %}
