{% extends "L2_students.html" %}
{% block title %}Calendar{% endblock %}
{% block courses %}class="active"{% endblock %}

{% block content %}
<div>
    <h2>Course Offerings</h2>
    <p>Browse available courses by sorting through one of the methods below:</p>
</div>
<ul id="courseTabs" class="nav nav-pills">
  <li class="active"><a href="#matrix" data-toggle="tab">Course Matrix</a></li>
  <li><a href="#area" data-toggle="tab">Sort by Concentration</a></li>
  <li><a href="#time" data-toggle="tab">Sort by Term Offered</a></li>
  <li><a href="#noncore" data-toggle="tab">Other Courses</a></li>
</ul>

<div class="tab-content">
		<!-- <div class="tab-pane fade in active" id="fake"></div> -->
    <div class="tab-pane fade in active" id="matrix">
        <table class="coursematrix table table-bordered">
            <tr><td class="modifier">&nbsp;</td><th>Autumn</th><th>Winter</th><th>Spring</th></tr>
            <tr>
                <td class="modifier">Systems<br/>Behavioral<br/>Computational</td>
		<td>{% for course in tysa %}<a href="#" rel="popover" id="{{ course.id }}C" title="{{ course.Title }}" data-content="{{ course.Course_Description }} <i>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</i>."><strong>{{ course.Dept }} {{ course.Course_Number }}</strong>: {{ course.Title }}</a><br/>{% endfor %}</td>
		<td>{% for course in tysw %}<a href="#" rel="popover" id="{{ course.id }}C" title="{{ course.Title }}" data-content="{{ course.Course_Description }} <i>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</i>."><strong>{{ course.Dept }} {{ course.Course_Number }}</strong>: {{ course.Title }}</a><br/>{% endfor %}</td>
		<td>{% for course in tyss %}<a href="#" rel="popover" id="{{ course.id }}C" title="{{ course.Title }}" data-content="{{ course.Course_Description }} <i>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</i>."><strong>{{ course.Dept }} {{ course.Course_Number }}</strong>: {{ course.Title }}</a><br/>{% endfor %}</td>
            </tr>
            <tr>
                <td class="modifier">Translational</td>
		<td>{% for course in tyta %}<a href="#" rel="popover" id="{{ course.id }}C" title="{{ course.Title }}" data-content="{{ course.Course_Description }} <i>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</i>."><strong>{{ course.Dept }} {{ course.Course_Number }}</strong>: {{ course.Title }}</a><br/>{% endfor %}</td>
		<td>{% for course in tytw %}<a href="#" rel="popover" id="{{ course.id }}C" title="{{ course.Title }}" data-content="{{ course.Course_Description }} <i>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</i>."><strong>{{ course.Dept }} {{ course.Course_Number }}</strong>: {{ course.Title }}</a><br/>{% endfor %}</td>
		<td>{% for course in tyts %}<a href="#" rel="popover" id="{{ course.id }}C" title="{{ course.Title }}" data-content="{{ course.Course_Description }} <i>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</i>."><strong>{{ course.Dept }} {{ course.Course_Number }}</strong>: {{ course.Title }}</a><br/>{% endfor %}</td>
            </tr>
            <tr>
                <td class="modifier">Cellular<br/>Molecular<br/>Developmental</td>
		<td>{% for course in tyma %}<a href="#" rel="popover" id="{{ course.id }}C" title="{{ course.Title }}" data-content="{{ course.Course_Description }} <i>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</i>."><strong>{{ course.Dept }} {{ course.Course_Number }}</strong>: {{ course.Title }}</a><br/>{% endfor %}</td>
		<td>{% for course in tymw %}<a href="#" rel="popover" id="{{ course.id }}C" title="{{ course.Title }}" data-content="{{ course.Course_Description }} <i>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</i>."><strong>{{ course.Dept }} {{ course.Course_Number }}</strong>: {{ course.Title }}</a><br/>{% endfor %}</td>
		<td>{% for course in tyms %}<a href="#" rel="popover" id="{{ course.id }}C" title="{{ course.Title }}" data-content="{{ course.Course_Description }} <i>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</i>."><strong>{{ course.Dept }} {{ course.Course_Number }}</strong>: {{ course.Title }}</a><br/>{% endfor %}</td>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="area">
        <table class="coursetable table table-striped">
            <tr><th colspan=4>Systems/Behavioral/Computational</th></tr>
            {% for course in syscomp %}<tr><td><a href="#" class="btn btn-primary" rel="popover" id="{{ course.id }}A" title="{{ course.Dept }} {{ course.Course_Number }}" data-content="{{ course.Course_Description }}">{{ course.Dept }} {{ course.Course_Number }}</a></td><td>{{ course.Title }}</td><td>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</td><td>{{ course.Quarter_Offered }} {{course.Next_Offered }}</td></tr>{% endfor %}
        </table>
        <table class="coursetable table table-striped">
            <tr><th colspan=4>Translational</th></tr>
            {% for course in trans %}<tr><td><a href="#" class="btn btn-primary" rel="popover" id="{{ course.id }}A" title="{{ course.Dept }} {{ course.Course_Number }}" data-content="{{ course.Course_Description }}">{{ course.Dept }} {{ course.Course_Number }}</a></td><td>{{ course.Title }}</td><td>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</td><td>{{ course.Quarter_Offered }} {{course.Next_Offered }}</td></tr>{% endfor %}
         </table>
         <table class="coursetable table table-striped">
            <tr><th colspan=4>Cellular/Molecular/Developmental</th></tr>
            {% for course in cellmol %}<tr><td><a href="#" class="btn btn-primary" rel="popover" id="{{ course.id }}A" title="{{ course.Dept }} {{ course.Course_Number }}" data-content="{{ course.Course_Description }}">{{ course.Dept }} {{ course.Course_Number }}</a></td><td>{{ course.Title }}</td><td>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</td><td>{{ course.Quarter_Offered }} {{course.Next_Offered }}</td></tr>{% endfor %}
        </table>
    </div>
    <div class="tab-pane fade" id="time">
        <table class="coursetable table table-striped">
            <tr><th colspan=4>This Year</th></tr>
		{% for course in thisyear %}<tr><td><a href="#" class="btn btn-primary" rel="popover" id="{{ course.id }}B" title="{{ course.Dept }} {{ course.Course_Number }}" data-content="{{ course.Course_Description }}">{{ course.Dept }} {{ course.Course_Number }}</a></td><td>{{ course.Title }}</td><td>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</td><td>{{ course.Area_Fulfill }}</td></tr>{% endfor %}
        </table>
	<table class="coursetable table table-striped">
            <tr><th colspan=4>Next Year</th></tr>
		{% for course in nextyear %}<tr><td><a href="#" class="btn btn-primary" rel="popover" id="{{ course.id }}B" title="{{ course.Dept }} {{ course.Course_Number }}" data-content="{{ course.Course_Description }}">{{ course.Dept }} {{ course.Course_Number }}</a></td><td>{{ course.Title }}</td><td>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</td><td>{{ course.Area_Fulfill }}</td></tr>{% endfor %}
        </table>
   </div>
   <div class="tab-pane fade" id="noncore">
	<table class="coursetable table table-striped">
            <tr><th colspan=4>Other (non-core) courses of interest</th></tr>
		{% for course in noncore %}<tr><td><a href="#" class="btn btn-primary" rel="popover" id="{{ course.id }}D" title="{{ course.Dept }} {{ course.Course_Number }}" data-content="{{ course.Course_Description }}">{{ course.Dept }} {{ course.Course_Number }}</a></td><td>{{ course.Title }}</td><td>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</td></tr>{% endfor %}
        </table>
   </div>
</div>
</div>
{% endblock %}

{% block scriptcontent %}
<script>
{% for course in courses %}
$(function () { $("#{{ course.id }}A").popover();});
$(function () { $("#{{ course.id }}B").popover();});
$(function () { $("#{{ course.id }}C").popover({placement: 'left'});});
$(function () { $("#{{ course.id }}D").popover();});
{% endfor %}
</script>
{% endblock %}
