{% extends "L2_students.html" %}
{% block title %}Calendar{% endblock %}
{% block courses %}class="active"{% endblock %}

{% block content %}
<div>
    <h2>Course Offerings</h2>
    <p>Browse available courses by sorting through one of the methods below:</p>
</div>
<ul id="courseTabs" class="nav nav-pills">
  <li class="active"><a href="#matrix" data-toggle="tab">Course Matrix</a></li>
  <li><a href="#area" data-toggle="tab">Sort by Concentration</a></li>
  <li><a href="#time" data-toggle="tab">Sort by Term Offered</a></li>
  <li><a href="#reqs" data-toggle="tab">Course Requirements</a></li>
  <li><a href="#noncore" data-toggle="tab">Other Courses</a></li>
</ul>

<div class="tab-content">
		<!-- <div class="tab-pane fade in active" id="fake"></div> -->
    <div class="tab-pane fade in active" id="matrix">
        <table class="coursematrix table table-bordered">
            <tr><th></th><th>Autumn</th><th>Winter</th><th>Spring</th></tr>
            <tr>
                <td class="modifier">Systems<br/>Behavioral<br/>Computational</td>
		<td>{% for course in tysa %}<a href="#" rel="popover" id="{{ course.id }}C" title="{{ course.Title }}" data-content="{{ course.Course_Description }} <i>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</i>."><strong>{{ course.Dept }} {{ course.Course_Number }}</strong>: {{ course.Title }}</a><br/>{% endfor %}</td>
		<td>{% for course in tysw %}<a href="#" rel="popover" id="{{ course.id }}C" title="{{ course.Title }}" data-content="{{ course.Course_Description }} <i>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</i>."><strong>{{ course.Dept }} {{ course.Course_Number }}</strong>: {{ course.Title }}</a><br/>{% endfor %}</td>
		<td>{% for course in tyss %}<a href="#" rel="popover" id="{{ course.id }}C" title="{{ course.Title }}" data-content="{{ course.Course_Description }} <i>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</i>."><strong>{{ course.Dept }} {{ course.Course_Number }}</strong>: {{ course.Title }}</a><br/>{% endfor %}</td>
            </tr>
            <tr>
                <td class="modifier">Translational</td>
		<td>{% for course in tyta %}<a href="#" rel="popover" id="{{ course.id }}C" title="{{ course.Title }}" data-content="{{ course.Course_Description }} <i>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</i>."><strong>{{ course.Dept }} {{ course.Course_Number }}</strong>: {{ course.Title }}</a><br/>{% endfor %}</td>
		<td>{% for course in tytw %}<a href="#" rel="popover" id="{{ course.id }}C" title="{{ course.Title }}" data-content="{{ course.Course_Description }} <i>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</i>."><strong>{{ course.Dept }} {{ course.Course_Number }}</strong>: {{ course.Title }}</a><br/>{% endfor %}</td>
		<td>{% for course in tyts %}<a href="#" rel="popover" id="{{ course.id }}C" title="{{ course.Title }}" data-content="{{ course.Course_Description }} <i>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</i>."><strong>{{ course.Dept }} {{ course.Course_Number }}</strong>: {{ course.Title }}</a><br/>{% endfor %}</td>
            </tr>
            <tr>
                <td class="modifier">Cellular<br/>Molecular<br/>Developmental</td>
		<td>{% for course in tyma %}<a href="#" rel="popover" id="{{ course.id }}C" title="{{ course.Title }}" data-content="{{ course.Course_Description }} <i>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</i>."><strong>{{ course.Dept }} {{ course.Course_Number }}</strong>: {{ course.Title }}</a><br/>{% endfor %}</td>
		<td>{% for course in tymw %}<a href="#" rel="popover" id="{{ course.id }}C" title="{{ course.Title }}" data-content="{{ course.Course_Description }} <i>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</i>."><strong>{{ course.Dept }} {{ course.Course_Number }}</strong>: {{ course.Title }}</a><br/>{% endfor %}</td>
		<td>{% for course in tyms %}<a href="#" rel="popover" id="{{ course.id }}C" title="{{ course.Title }}" data-content="{{ course.Course_Description }} <i>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</i>."><strong>{{ course.Dept }} {{ course.Course_Number }}</strong>: {{ course.Title }}</a><br/>{% endfor %}</td>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="area">
        <table class="coursetable table table-striped">
            <tr><th colspan=4>Systems/Behavioral/Computational</th></tr>
            {% for course in syscomp %}<tr><td><a href="#" class="btn btn-primary" rel="popover" id="{{ course.id }}A" title="{{ course.Dept }} {{ course.Course_Number }}" data-content="{{ course.Course_Description }}">{{ course.Dept }} {{ course.Course_Number }}</a></td><td>{{ course.Title }}</td><td>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</td><td>{{ course.Quarter_Offered }} {{course.Next_Offered }}</td></tr>{% endfor %}
        </table>
        <table class="coursetable table table-striped">
            <tr><th colspan=4>Translational</th></tr>
            {% for course in trans %}<tr><td><a href="#" class="btn btn-primary" rel="popover" id="{{ course.id }}A" title="{{ course.Dept }} {{ course.Course_Number }}" data-content="{{ course.Course_Description }}">{{ course.Dept }} {{ course.Course_Number }}</a></td><td>{{ course.Title }}</td><td>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</td><td>{{ course.Quarter_Offered }} {{course.Next_Offered }}</td></tr>{% endfor %}
         </table>
         <table class="coursetable table table-striped">
            <tr><th colspan=4>Cellular/Molecular/Developmental</th></tr>
            {% for course in cellmol %}<tr><td><a href="#" class="btn btn-primary" rel="popover" id="{{ course.id }}A" title="{{ course.Dept }} {{ course.Course_Number }}" data-content="{{ course.Course_Description }}">{{ course.Dept }} {{ course.Course_Number }}</a></td><td>{{ course.Title }}</td><td>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</td><td>{{ course.Quarter_Offered }} {{course.Next_Offered }}</td></tr>{% endfor %}
        </table>
    </div>
    <div class="tab-pane fade" id="time">
        <table class="coursetable table table-striped">
            <tr><th colspan=4>This Year</th></tr>
		{% for course in thisyear %}<tr><td><a href="#" class="btn btn-primary" rel="popover" id="{{ course.id }}B" title="{{ course.Dept }} {{ course.Course_Number }}" data-content="{{ course.Course_Description }}">{{ course.Dept }} {{ course.Course_Number }}</a></td><td>{{ course.Title }}</td><td>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</td><td>{{ course.Area_Fulfill }}</td></tr>{% endfor %}
        </table>
	<table class="coursetable table table-striped">
            <tr><th colspan=4>Next Year</th></tr>
		{% for course in nextyear %}<tr><td><a href="#" class="btn btn-primary" rel="popover" id="{{ course.id }}B" title="{{ course.Dept }} {{ course.Course_Number }}" data-content="{{ course.Course_Description }}">{{ course.Dept }} {{ course.Course_Number }}</a></td><td>{{ course.Title }}</td><td>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</td><td>{{ course.Area_Fulfill }}</td></tr>{% endfor %}
        </table>
   </div>
   <div class="tab-pane fade" id="reqs">
	<h3>Course Requirements</h3>
	<p>Students are required to become familiar with current research in a broad range of neuroscience areas by taking five advanced courses, with at least one from each of the following core research areas:
	<ul>
		<li>Systems, Computational, Cognitive and Behavioral Neuroscience</li>
		<li>Cellular, Molecular, and Developmental Neuroscience</li>
		<li>Translational Neuroscience</li>
	</ul>
	Each of the courses in these categories is typically offered on alternate years so that the core course requirements can be completed within two years. These options may change, depending on which courses are offered during the next two years.</p>

	<h4>Systems, Computational, Cognitive and Behavioral Neuroscience</h4>
	<p>Courses at this level focus on the computations performed by neural circuits and the role such computations play in behavior, perceptions, and plasticity. Students can expect to learn how neurons:
	<ol>
		<li>Organize circuits into larger functional units</li>
		<li>Represent and transform information</li>
		<li>Produce myriad movement</li>
		<li>Subserve higher-level processing related to perception, reasoning and learning</li>
	</ol>
	Predominant methods in this area include modeling single cells and circuits, design of behavioral paradigms, and statistical analysis of behavioral and electrophysiological data.</p>

	<h4>Cellular, Molecular, and Developmental Neuroscience</h4>
	<p>Courses in this area address fundamental mechanisms that enable cells of the nervous system to develop, function in adulthood, change during learning and memory, and/or malfunction in disease states. Students can expect to learn core concepts in:
	<ol>
		<li>Cell-cell communication</li>
		<li>Intracellular signal transduction</li>
		<li>Transcriptional and translational control</li>
		<li>mRNA and protein trafficking</li>
		<li>Membrane biophysics</li>
		<li>Cell motility</li>
	</ol>
	Dominant methods include molecular biology, genetics, cell biology, electrophysiology, and subcellular or multicellular imaging.</p>

	<h4>Translational Neuroscience</h4>
	<p>Courses in this area address fundamental concepts in studying disorders of the human brain and the peripheral nervous system and their treatment. Students can expect to learn about basic themes in:
	<ol>
		<li>Pathophysiological mechanisms
		<li>Modeling of human diseases
		<li>Approaches to designing diagnoses and treatments
		<li>Implementing diagnoses and treatments
	</ol>
	The courses highlight studies of human diseases that use genetics, molecular biology, psychological testing, and functional imaging.</p>
	<p><br /></p>
   </div>
   <div class="tab-pane fade" id="noncore">
	<table class="coursetable table table-striped">
            <tr><th colspan=4>Other (non-core) courses of interest</th></tr>
		{% for course in noncore %}<tr><td><a href="#" class="btn btn-primary" rel="popover" id="{{ course.id }}D" title="{{ course.Dept }} {{ course.Course_Number }}" data-content="{{ course.Course_Description }}">{{ course.Dept }} {{ course.Course_Number }}</a></td><td>{{ course.Title }}</td><td>
	{% if course.Faculty3|length > 0 %}
		{{ course.Faculty1 }}, {{ course.Faculty2 }}, and {{ course.Faculty3 }}
	{% elif course.Faculty2|length > 0 %}
		{{ course.Faculty1 }} and {{ course.Faculty2 }}
	{% else %}
		{{ course.Faculty1 }}
	{% endif %}
</td></tr>{% endfor %}
        </table>
   </div>
</div>
</div>
{% endblock %}

{% block scriptcontent %}
<script>
{% for course in courses %}
$(function () { $("#{{ course.id }}A").popover();});
$(function () { $("#{{ course.id }}B").popover();});
$(function () { $("#{{ course.id }}C").popover({placement: 'left'});});
$(function () { $("#{{ course.id }}D").popover();});
{% endfor %}
</script>
{% endblock %}
