{% extends "L2_students.html" %}
{% block title %}Photos{% endblock %}
{% block photos %}class="active"{% endblock %}

{% block content %}


<h2 style="margin-bottom: 20px;">Neuroscience Program Photos</h2>

<div class="row">
	<div class="span3">
		<table style="photos:194px;"><tr><td align="center" style="height:194px;background:url(https://picasaweb.google.com/s/c/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/115970243263335270197/Retreat2012?authuser=0&feat=embedwebsite"><img src="https://lh4.googleusercontent.com/-NFTjbkG9BSg/UBTEySq7spE/AAAAAAAABvc/D1pkGQ3hL_k/s160-c/Retreat2012.jpg" width="160" height="160" style="margin:1px 0 0 4px;"></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="https://picasaweb.google.com/115970243263335270197/Retreat2012?authuser=0&feat=embedwebsite" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">Retreat 2012</a></td></tr></table>
	</div>
	<div class="span3">
		<table style="width:194px;"><tr><td align="center" style="height:194px;background:url(https://picasaweb.google.com/s/c/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/115970243263335270197/Retreat2011?authuser=0&feat=embedwebsite"><img src="https://lh5.googleusercontent.com/--9otAPWdfTo/UBTJseLAmOE/AAAAAAAABvg/KyLAAL_YKzk/s160-c/Retreat2011.jpg" width="160" height="160" style="margin:1px 0 0 4px;"></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="https://picasaweb.google.com/115970243263335270197/Retreat2011?authuser=0&feat=embedwebsite" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">Retreat 2011</a></td></tr></table>
	</div>
	<div class="span3">
		<table style="width:194px;"><tr><td align="center" style="height:194px;background:url(https://picasaweb.google.com/s/c/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/115970243263335270197/Retreat2010?authuser=0&feat=embedwebsite"><img src="https://lh5.googleusercontent.com/-wm_vSi3jMVE/UBTKsN5hRuE/AAAAAAAABv0/xjMFZW8010k/s160-c/Retreat2010.jpg" width="160" height="160" style="margin:1px 0 0 4px;"></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="https://picasaweb.google.com/115970243263335270197/Retreat2010?authuser=0&feat=embedwebsite" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">Retreat 2010</a></td></tr></table>
	</div>
</div>


<div class="row">
	<div class="span3">
		<table style="width:194px;"><tr><td align="center" style="height:194px;background:url(https://picasaweb.google.com/s/c/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/115970243263335270197/Retreat2009?authuser=0&feat=embedwebsite"><img src="https://lh6.googleusercontent.com/-0OrlhnRYXv8/UBTJ3f_BL3E/AAAAAAAABvk/xdpAWaIJU4k/s160-c/Retreat2009.jpg" width="160" height="160" style="margin:1px 0 0 4px;"></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="https://picasaweb.google.com/115970243263335270197/Retreat2009?authuser=0&feat=embedwebsite" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">Retreat 2009</a></td></tr></table>
	</div>
	<div class="span3">
		<table style="width:194px;"><tr><td align="center" style="height:194px;background:url(https://picasaweb.google.com/s/c/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/115970243263335270197/Retreat2007?authuser=0&feat=embedwebsite"><img src="https://lh3.googleusercontent.com/-PsPr9hjayuo/UBTKIJZX4ZE/AAAAAAAABvo/s-79Ma-exYc/s160-c/Retreat2007.jpg" width="160" height="160" style="margin:1px 0 0 4px;"></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="https://picasaweb.google.com/115970243263335270197/Retreat2007?authuser=0&feat=embedwebsite" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">Retreat 2007</a></td></tr></table>
	</div>

</div>
</div>
{% endblock %}
