{% extends "L2_students.html" %}
{% block title %}Photos{% endblock %}
{% block photos %}class="active"{% endblock %}

{% block content %}


<h2>Neuroscience Program Photos</h2>

<div class="row">
	<div class="col-md-3 col-sm-6">
		<table><tr><td align="center" style="background:url(https://picasaweb.google.com/s/c/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/115970243263335270197/StudentRetreat2013?authuser=0&authkey=Gv1sRgCM-58InQ9uKJ5QE&feat=embedwebsite"><img src="https://lh5.googleusercontent.com/-W_PlU8V8hoc/UfKy0ahyTtE/AAAAAAAACFo/fAUkv7ZojS0/s160-c/StudentRetreat2013.jpg" width="160" height="160" ></a></td></tr><tr><td><a href="https://picasaweb.google.com/115970243263335270197/StudentRetreat2013?authuser=0&authkey=Gv1sRgCM-58InQ9uKJ5QE&feat=embedwebsite" >Retreat 2013</a></td></tr></table>
	</div>
	<div class="col-md-3 col-sm-6">
		<table><tr><td align="center" style="background:url(https://picasaweb.google.com/s/c/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/115970243263335270197/Retreat2012?authuser=0&feat=embedwebsite"><img src="https://lh4.googleusercontent.com/-NFTjbkG9BSg/UBTEySq7spE/AAAAAAAAByk/uuO9frK7ZCk/s160-c/Retreat2012.jpg" width="160" height="160" ></a></td></tr><tr><td><a href="https://picasaweb.google.com/115970243263335270197/Retreat2012?authuser=0&feat=embedwebsite">Retreat 2012</a></td></tr></table>
	</div>
	<div class="col-md-3 col-sm-6">
		<table><tr><td align="center" style="background:url(https://picasaweb.google.com/s/c/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/115970243263335270197/Retreat2011?authuser=0&feat=embedwebsite"><img src="https://lh5.googleusercontent.com/--9otAPWdfTo/UBTJseLAmOE/AAAAAAAABvg/KyLAAL_YKzk/s160-c/Retreat2011.jpg" width="160" height="160" ></a></td></tr><tr><td ><a href="https://picasaweb.google.com/115970243263335270197/Retreat2011?authuser=0&feat=embedwebsite" >Retreat 2011</a></td></tr></table>
	</div>

</div>


<div class="row">
	<div class="col-md-3 col-sm-6">
		<table ><tr><td align="center" style="background:url(https://picasaweb.google.com/s/c/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/115970243263335270197/Retreat2010?authuser=0&feat=embedwebsite"><img src="https://lh5.googleusercontent.com/-wm_vSi3jMVE/UBTKsN5hRuE/AAAAAAAABv0/xjMFZW8010k/s160-c/Retreat2010.jpg" width="160" height="160" ></a></td></tr><tr><td ><a href="https://picasaweb.google.com/115970243263335270197/Retreat2010?authuser=0&feat=embedwebsite" >Retreat 2010</a></td></tr></table>
	</div>
	<div class="col-md-3 col-sm-6">
		<table ><tr><td align="center" style="background:url(https://picasaweb.google.com/s/c/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/115970243263335270197/Retreat2009?authuser=0&feat=embedwebsite"><img src="https://lh6.googleusercontent.com/-0OrlhnRYXv8/UBTJ3f_BL3E/AAAAAAAABvk/xdpAWaIJU4k/s160-c/Retreat2009.jpg" width="160" height="160" ></a></td></tr><tr><td ><a href="https://picasaweb.google.com/115970243263335270197/Retreat2009?authuser=0&feat=embedwebsite" >Retreat 2009</a></td></tr></table>
	</div>
	<div class="col-md-3 col-sm-6">
		<table ><tr><td align="center" style="background:url(https://picasaweb.google.com/s/c/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/115970243263335270197/Retreat2007?authuser=0&feat=embedwebsite"><img src="https://lh3.googleusercontent.com/-PsPr9hjayuo/UBTKIJZX4ZE/AAAAAAAABvo/s-79Ma-exYc/s160-c/Retreat2007.jpg" width="160" height="160" ></a></td></tr><tr><td ><a href="https://picasaweb.google.com/115970243263335270197/Retreat2007?authuser=0&feat=embedwebsite" >Retreat 2007</a></td></tr></table>
	</div>

</div>
</div>
{% endblock %}
