{% extends "L2_students.html" %}
{% block title %}Student Profiles{% endblock %}
{% block studentprofiles %}class="active"{% endblock %}

{% block content %}
    <h2>Student Profiles</h2>
    {% if students %}
        <table style="margin-top: 20px;" class="table table-bordered table-condensed">
            <thead><tr><td><b>Name</b></td><td><b>Lab</b></td><td><b>Department</b></td></tr></thead>
            <tbody>
                {% for student in students|dictsort:"NAME_FIRST" %}
		{% if student.sunetid != 'huguenar' %}
		<tr>
			<!--<td><a href="mailto:{{ student.Email }}">{{ student.NAME_FIRST }} {{ student.NAME_LAST }}</a></td>-->
            <td>{{ student.NAME_FIRST }} {{ student.NAME_LAST }}</td>
                    	{% if student.PI == None %}
			<td>N/A</td>
			{% else %}
			<td>{{ student.PI }}</td>
			{% endif %}
			<td>{{ student.Email }}</td>
                </tr>
		{% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p style="margin-top: 20px;">Error. </p>
    {% endif %}
</div>
{% endblock %}

{% block scriptcontent %}
<script>
{% for student in students %}
$(function () { $("#{{ student.sunetid }}").popover();});
{% endfor %}
</script>
{% endblock %}
