{% extends "L2_students.html" %}
{% block title %}Student Profiles{% endblock %}
{% block studentprofiles %}class="active"{% endblock %}

{% block content %}
    <h2>Student Profiles</h2>
    {% if students %}
        <table style="margin-top: 20px;" class="table table-bordered table-condensed">
            <thead><tr><td><b>Name</b></td><td><b>Lab</b></td></tr></thead>
            <tbody>
                {% for student in students %}
                <tr><td><a href="mailto:{{ student.email }}" rel="popover" id="{{ student.id }}" title="{{ student.firstname }} {{ student.lastname }}" data-content="<img src='{{ STATIC_URL }}{{ student.image }}' width=150 class='studentpicture' />">{{ student.firstname }}&nbsp;{{ student.lastname }}</a></td>
                    {% if student.labwebsite|length > 1 %}
                    <td><a href="{{ student.labwebsite }}">{{ student.lab }}</a></td>
                    {% else %}
                    <td>{{ student.lab }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p style="margin-top: 20px;">Error.<p>
    {% endif %}
</div>
{% endblock %}

{% block scriptcontent %}
<script>
{% for student in students %}
$(function () { $("#{{ student.id }}").popover();});
{% endfor %}
</script>
{% endblock %}
