{% extends "L2_about.html" %}
{% block title %}Contact Us{% endblock %}
{% load webdesign %}

{% block contact %}class="active"{% endblock %} 

{% block content %}

<h3><a name="contact" id="contact"></a>Program Contact Information</h3>
    <p><span class="text_bodynormal">Ross Colvin<br />
    Program Administrator<br />
    Neurosciences Program<br />

    Modular B, Room 42<br />
    1215 Welch Road<br />
    Stanford University School of Medicine<br />
    Stanford, CA 94305-5400</span><span class="text_bodynormal"><br />
    TEL:&nbsp; 650.723.9855</span>
<span class="text_bodynormal">FAX:&nbsp; 650.721.6434</span></p>

<p><span class="text_bodynormal">Katie Johnson<br />
Program Coordinator<br />
Neurosciences Program<br />
Modular B, #46<br />
1215 Welch Road<br />
Stanford University School of Medicine<br />
Stanford, CA 94305-5400<br />
TEL:&nbsp; 650.721.1939
FAX:&nbsp; 650.721.6434</span></p>

</div>
{% endblock %}