{% extends "L2_about.html" %}
{% block title %}Contact Us{% endblock %}
{% load webdesign %}

{% block contact %}class="active"{% endblock %} 

{% block content %}

<h3><a name="contact" id="contact"></a>Program Contact Information</h3>
<br />
<p><span class="text_bodynormal"><span style="font-weight:bold;">Kalai Diamon, MA</span> (<a href="mailto:larkspur@stanford.edu">larkspur@stanford.edu</a>)<br />
Program Administrator, Neurosciences Program<br />
Modular B, Room 42<br />
1215 Welch Road<br />
Stanford University School of Medicine, Stanford, CA 94305-5400<br />
TEL:&nbsp; 650.721.1939<br />
FAX:&nbsp; 650.721.6434</span></p>

</div>
{% endblock %}
