{% extends "L2_prospective_students.html" %}
{% block title %}How to Apply{% endblock %}
{% block applynow %}class="active"{% endblock %}

{% block content %}
    <h2>How to Apply</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt tincidunt adipiscing. Fusce sollicitudin commodo est eget fermentum. Aenean in massa leo. Ut eget arcu sed libero tincidunt iaculis ac vel justo. Aliquam elementum consequat egestas. Ut turpis eros, vehicula in vulputate ac, bibendum nec nisi. Nullam enim risus, ullamcorper quis tristique vitae, pulvinar quis elit. Etiam quis enim arcu, sed consectetur magna. Vestibulum consequat adipiscing purus ac ullamcorper.</p>
    <p>Praesent quis est diam, nec bibendum lectus. Nullam pulvinar feugiat nisi, vitae suscipit massa auctor at. Duis at magna risus, sit amet pellentesque dui. Mauris vel tellus tortor, quis euismod odio. Donec sed enim turpis. Ut ultrices, risus sit amet tincidunt dapibus, nisl dolor consequat lacus, a consequat ipsum purus eu justo. Donec ac mauris vel velit fermentum sollicitudin eu quis leo. Proin convallis scelerisque justo, ac luctus mi cursus at. In tristique adipiscing metus, vel placerat nibh pellentesque congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec at augue erat, convallis vehicula lacus.</p>

</div>
{% endblock %}
