{% extends "L2_prospective_students.html" %}
{% block title %}Diversity{% endblock %}
{% block diversity %}class="active"{% endblock %}

{% block content %}
    <h2>Diversity</h2>
    <p>During the 2010 Interview Session, the Stanford Neurosciences Graduate Program began a new initiative, hosting a &ldquo;Diversity Meet and Greet&rdquo; for minority students from underrepresented backgrounds in the sciences who were invited for interviews. The &quot;Meet and Greet&quot; events vary from year to year but usually feature lunch and an afternoon activity with current minority graduate students who are part of the Stanford community. We hope to introduce prospective students to the wide array of community resources and programs available for incoming minority students.</p>

    <p>For more information about diversity within the Stanford University Medical School, please visit: <a href="http://med.stanford.edu/diversity/">http://med.stanford.edu/diversity/</a></p>

</div>
{% endblock %}