{% extends "L2_prospective_students.html" %}
{% block title %}FAQ{% endblock %}
{% block faq %}class="active"{% endblock %}

{% block content %}
    <h2>Frequently Asked Questions</h2>
    <div class="accordion" id="accordion2" style="margin-top: 20px;">
        {% for item in faqs %}
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{ item.question|slugify }}">{{ item.question }}</a>
            </div>

            <div id="{{ item.question|slugify }}" class="accordion-body collapse">
                <div class="accordion-inner">
                    {{ item.answer }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
