{% extends "L2_prospective_students.html" %}
{% block title %}Meet Current Students{% endblock %}
{% block meetstudents %}class="active"{% endblock %}

{% block content %}
    <h2>Meet Current Students</h2>
    <div class="studentprofile well" style="height: 130px; margin-top: 20px;">
        <div style="float:left">
            <h3>Jane Smith</h3>
            <p>Jane's research focuses on x, y, and and z. </p>
        </div>
        <div style="float:right">
            <img src="http://placehold.it/128x128" /> 
        </div>
    </div>

    <div class="studentprofile well" style="height: 190px; margin-top: 20px;">
        <div style="float:left; width: 300px;">
            <h3>Jane Smith</h3>
            <p>Jane's research focuses on x, y, and and z. </p>
        </div>
        <div style="float:right; width: 180px;">
            <img src="http://placehold.it/160x180" /> 
        </div>
    </div>

    <div class="studentprofile well" style="height: 190px; margin-top: 20px;">
        <div style="float:left; width: 300px;">
            <h3>Jane Smith</h3>
            <p>Jane's research focuses on x, y, and and z. </p>
        </div>
        <div style="float:right; width: 180px;">
            <img src="http://placehold.it/160x180" /> 
        </div>
    </div>

</div>
{% endblock %}
