{% extends "L2_prospective_students.html" %}
{% block title %}Why Stanford{% endblock %}
{% block whystanford %}class="active"{% endblock %}

{% block content %}
    <h2>Why Study at Stanford?</h2>

<div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"> Research </a>
              </div>

	      <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
First year students have the opportunity to work with any of the faculty members who are affiliated with the neuroscience program.
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"> Academics </a>
              </div>

	      <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
Stanford Neurosciences requires Ph.D candidates to complete six classes. Graduate students can choose how they would like to distribute their credit requirements over three broad categories - Cellular, Systems, and Translational. This offers students a lot of flexibility in their coursework. Students are also encouraged to take courses in other departments that may benefit their research (i.e. biosciences, math, and engineering).

Stanford School of Medicine continually strives to improve the graduate education system. Most recently, kernel courses, an introductory course for all bioscience students, and mini courses, two to four week practical courses, have been introduced into the curriculum. 
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree"> Community </a>
              </div>

              <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
The neuroscience program at Stanford has a strong community, fostered in part by the SIN boot camp for first years, two separate annual retreats held near Monterey, and other student-run events that encourage mingling, such as regular happy hours, inter-class dinners, and the weekly SINTN seminar series.

Students have a history of initiating groups and events to fill in the gaps. Those in the fourth year and beyond, who no longer gather in journal club on a weekly basis, present their work to the student community during monthly Superfriends gatherings. In addition to the existing book club for discussing popular science literature, some students have recently begun a writing workshop group to improve their own skills in communicating science to a general audience.
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour"> Stanford Life </a>
              </div>

              <div id="collapseFour" class="accordion-body collapse">
                <div class="accordion-inner">
Students partake in a variety of activities both on and off-campus. The gorgeous weather year-round means that many students hike, bike, and rock climb in the area, though weekend ski trips to Lake Tahoe are common in the winter. Some of the students also perform with the Stanford Shakespeare company, swing and salsa clubs, or local music groups. The graduate community organizes many social events including movie viewings, restaurant outings, and parties. Many graduate students in the program choose to live in the city, and for those who prefer living near Stanford, San Francisco is a short CalTrain ride away. 
                </div>
              </div>
            </div>

	    <div class="accordion-group">
	    <div class="accordion-heading">
	    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">Outreach</a>
	    </div>

	    <div id="collapseFive" class="accordion-body collapse">
	    <div class="accordion-inner">
Stanford Neuroscience offers graduate students several opportunities to participate in science outreach to local students. Each year Brain Day and SPLASH classes are taught to local middle school and high school students. We show them real brains from rodents, birds, and even humans! Students also teach general science to elementary school students via the Stanford Science Bus and 49ers programs.
	    </div>
	    </div>
	    </div>

	    <div class="accordion-group">
	    <div class="accordion-heading">
	    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">Special Opportunities</a>
	    </div>

	    <div id="collapseSix" class="accordion-body collapse">
	    <div class="accordion-inner">
Stanford has many options for those who wish to take initiative in their professional development. Leadership, management, and design courses are offered through VPGE and the d.school. Students are given funding for and encouraged to attend conferences such as SfN, Cosyne, and others related to their research. The Bay Area Neuroscience Gathering provides another venue for graduate students to present research and interact with a wider neuroscience community. In addition, Stanford’s proximity to Bay Area biotech and pharmaceutical companies and startups allows for exposure to industry. 
	    </div>
	    </div>
	    </div>


          </div>
	 
</div>
{% endblock %}
