/* Colorscheme */
@main: #020202;
@gray: #d5d0c0;
@beige: #F8F6EA;
@grad1: #7F140B;
@grad2: #570D08;
@grad3: #530B02;
@white: #FFFFFF;
@bodybg: #FFF;

/* CSS */
body {
  margin: 0px;
  padding-bottom: 0px;
}

/* Footer */
.modal-footer {
  color: @white;

  border-top: 1px solid #666;
  border-bottom: none;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, @grad3, @grad2);
  background-image: -ms-linear-gradient(top, @grad3, @grad2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@grad3), to(@grad2));
  background-image: -webkit-linear-gradient(top, @grad3, @grad2);
  background-image: -o-linear-gradient(top, @grad3, @grad2);
  background-image: linear-gradient(top, @grad3, @grad2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@grad3', endColorstr='@grad2', GradientType=0);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 -30px 3px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -30px 3px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 -30px 3px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(0, 0, 0, 0.1);

  /* position:absolute;
   bottom:0;
   width: 100%;*/
}
.modal-footer a {
  color: @gray;
}
.modal-footer a:hover {
  color: @white;
  text-decoration: none;
}

/* Header */
.navbar-inner {
  background-image: -moz-linear-gradient(top, @grad1, @grad2);
  background-image: -ms-linear-gradient(top, @grad1, @grad2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@grad1), to(@grad2));
  background-image: -webkit-linear-gradient(top, @grad1, @grad2);
  background-image: -o-linear-gradient(top, @grad1, @grad2);
  background-image: linear-gradient(top, @grad1, @grad2);
}

/* Body */
#body {
  min-height: 500px;
  height:auto !important;
  height:500px;
  position: relative;
  padding-top: 70px;
  background: @bodybg;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    background: @grad2;
}

/* side menu */
ul a {
    color: @grad1;
}
ul a:hover {
    color: @grad2;
    text-decoration: underline;
}

/* calendar */
#calendar {
	margin: 10px 0px 50px 0px;
}

/* handbook */
.download {
    font-size: 16px;
    float: right;
}
.download-header {
    font-size: 24px;
    font-weight: bold;
    padding-top: 25px;
}
.download-content {
    margin: 25px 0px;
}

/* courses */
.coursetable {
    width: 850px;
    margin-bottom: 50px;
}

.coursetable td {
    width: 250px;
    height: 20px;
    text-align: center;
    padding: 10px 15px;
}
.table td {
    background-color: @white;
}
.coursetable th {
    font-size: 20px;
    text-align: center;
    padding: 15px 0px;
}

.coursematrix {
    width: 850px;
    text-align: center;
}

.coursematrix td {
    text-align: center;
    width: 150px;
    background-color: @white;
}

.coursematrix .modifier {
    width: 70px;
}

.coursematrix th {
    text-align: center;
    font-weight: bold;
}

/* students */
.studentpicture {
    margin-right: 20px;
}

#mainContent {
	margin-bottom: 50px;
}

.well {
    background: @beige;
}

.navbar .brand {
  color: @white;
}

.navbar .nav > li > a {
  color: @gray;
}

#facultyAccordion {
	margin-bottom: 50px;
}
