/* Colorscheme */
@main: #020202;
@gray: #CCCCCC;

/* CSS */
body {
    margin: 0px;
    padding-bottom: 0px;
}

/* Footer */
.modal-footer {
  background-color: @main;
  color: @gray;

  border-top: 1px solid #666;
  -webkit-border-radius: 0px 0px 0 0;
  -moz-border-radius: 0px 0px 0 0;
  border-radius: 0px 0px 0 0;
	-webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.85);
	-moz-box-shadow:    0px -4px 3px rgba(50, 50, 50, 0.85);
	box-shadow:         0px -4px 3px rgba(50, 50, 50, 0.85);
  *zoom: 1;
}
