{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block fullcontent %}
<!-- ============ -->
<!-- = Carousel = -->
<!-- ============ -->
<section id="carousel">
       <!--<div class="span1">
           <br/><br/>
           <img src="{{ STATIC_URL}}images/StanfordLogo.jpg" alt="" width="80px"><hr>
       </div>-->
       <div class="span9" style="margin-left: 180px;">
           <div class="hero-unit" style="text-align: center; padding: 20px 5px;"><h2 style="font-size: 42px;">Welcome to the Stanford<br/>Neurosciences PhD Program</h2></div>
       	   <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                  <img src="{{ STATIC_URL}}images/img1.jpg" alt="">
                <div class="carousel-caption">
                  <h4>First Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
              <div class="item">
                <img src="{{ STATIC_URL}}images/img2.jpg" alt="">
                <div class="carousel-caption">
                  <h4>Second Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
              <div class="item">
                <img src="{{ STATIC_URL}}images/img3.jpg" alt="">
                <div class="carousel-caption">
                  <h4>Third Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
   </div>
   <div class="row">
       <div class="span3" style="margin-left: 180px;">
           <div class="well">
               <h3>About the program</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut purus euismod dui lobortis imperdiet in nec ligula. </p>
               <p align="center"><a class="btn btn-inverse btn-large">Tour &rarr;</a></p>
           </div>
       </div>
       <div class="span3">
           <div class="well">
               <h3>Prospective Students</h3>
               <p>Phasellus tempus tellus at orci rutrum sodales. Fusce congue arcu ultrices mauris feugiat sed auctor risus tincidunt.</p>
               <p align="center"><a class="btn btn-inverse btn-large">Learn more &rarr;</a></p>
           </div>
       </div>
       <div class="span3">
           <div class="well">
               <h3>Current students</h3>
               <p>Nullam ac arcu neque, quis gravida odio. Quisque pulvinar nisl risus. Ut ac felis in sapien ultrices viverra fermentum ut mi.</p>
               <p align="center"><a class="btn btn-inverse btn-large">Login &rarr;</a>
           </div>
       </div>
</div>
{% endblock %}
