{% extends "base.html" %} 

{% block about %}class="active"{% endblock %} 

<!-- ==================================================== -->
{% block sidebar %} 

<ul class="nav nav-list">
  <li class="nav-header">Prospective Students</li>
  <li><a href="#">  Header </a></li>
  <li><a href="#">  Header </a></li>
  <li><a href="#">  Header </a></li>
  <li><a href="#">  Header </a></li>
  <li><a href="#">  Header </a></li>
  <li><a href="#">  Header </a></li>
  <li class="divider"></li>
  <li><a href="#"> </a></li>
  <li><a href="#">  Header </a></li>
  <li><a href="#">  Header </a></li>
  <li><a href="#">  Header </a></li>
  <li><a href="#">  Header </a></li>
  <li><a href="#">  Header </a></li>
</ul>

{% endblock %}

{% block content %} {% endblock %}
