{% extends "base.html" %} 

<!-- ==================================================== -->
{% block sidebar %} 

<ul class="nav nav-list well">
  <li class="nav-header">About</li>
  <li {% block about %}{% endblock %}><a href="/about/info">  About the Program </a></li>
  <li {% block contact %}{% endblock %}><a href="/about/contact">  Contact Us </a></li>
  <!--<li><a href="/students/profiles">  Our Students </a></li>-->
  <!--<li><a href="/alumni/profiles">  Our Alumni </a></li>-->
  <!--<li><a href="/faculty/profiles">  Our Faculty </a></li>-->
  <!--<li><a href="#">  Contact Us</a></li>-->
</ul>

{% endblock %}
