{% extends "base.html" %} 

{% block faculty %}class="active"{% endblock %} 

<!-- ==================================================== -->
{% block sidebar %} 

<ul class="nav nav-list well">
  <li class="nav-header">Faculty</li>
	<li {% block facultyprofiles %}{% endblock %}><a href="/faculty/profiles"> Training Faculty</a></li>
	<li {% block facultyinstructors %}{% endblock %}><a href="/faculty/instructors"> Instructors</a></li>
  <li class="divider"></li>
  <li><a href="https://neuroscienceprogram.stanford.edu/faculty"> Intranet</a></li>
</ul>

{% endblock %}

{% block content %} {% endblock %}
