{% extends "base.html" %} 

{% block news_media %}class="active"{% endblock %} 

<!-- ==================================================== -->
{% block sidebar %} 

<ul class="nav nav-list well">
  <li class="nav-header">Prospective Students</li>
  <!--<li><a href="#"> Recent Publications </a></li>-->
  <li {% block upcoming %}{% endblock %}><a href="#">  Upcoming Events </a></li>
  <!--<li><a href="#">  Program News </a></li>-->
  <li><a href="#">  Follow on Twitter</li>
  <li><a href="#">  Neuroblog </a></li>
</ul>

{% endblock %}

{% block content %} {% endblock %}
