{% extends "base.html" %} 

{% block news_media %}class="active"{% endblock %} 

<!-- ==================================================== -->
{% block sidebar %} 

<ul class="nav nav-list well">
  <li class="nav-header">News and Media</li>
  <!--<li><a href="#"> Recent Publications </a></li>-->
  <li {% block upcoming %}{% endblock %}><a href="/news_media/upcoming_events"><i class="icon-calendar"></i> Upcoming Events </a></li>
  <li {% block announcements %}{% endblock %}><a href="/news_media/announcements"><i class="icon-bullhorn"></i> Announcements</a></li>
  <!--<li><a href="#">  Program News </a></li>-->
  <li class="divider"></li>
  <li><a href="http://twitter.com/#!/stanfordneuro"><i class="icon-twitter"></i> Follow on Twitter</li>
  <li><a href="http://neuroblog.stanford.edu/"><i class="icon-comments-alt"></i> Neuroblog </a></li>
  <li><a href="http://gixstanford.wordpress.com/"><i class="icon-comments"></i> Gender Issues in Neuroscience (GIN) blog</a></li>
</ul>

{% endblock %}

{% block content %} {% endblock %}
