{% extends "base.html" %} 

{% block news_media %}class="active"{% endblock %} 

<!-- ==================================================== -->
{% block sidebar %} 

<ul class="nav nav-list well">
  <li class="nav-header">News and Media</li>
  <!--<li><a href="#"> Recent Publications </a></li>-->
  <li {% block upcoming %}{% endblock %}><a href="/news_media/upcoming_events">Upcoming Events </a></li>
  <li {% block announcements %}{% endblock %}><a href="/news_media/announcements">Announcements</a></li>
  <!--<li><a href="#">  Program News </a></li>-->
  <li class="divider"></li>
  <li><a href="http://twitter.com/#!/stanfordneuro">Follow on Twitter</li>
  <li><a href="http://neuroblog.stanford.edu/">Neuroblog </a></li>
</ul>

{% endblock %}

{% block content %} {% endblock %}
