{% extends "base.html" %} 

{% block about %}class="active"{% endblock %} 

<!-- ==================================================== -->
{% block sidebar %} 

<ul class="nav nav-list">
  <li class="nav-header">Prospective Students</li>
  <li><a href="#">  About the Program </a></li>
  <li><a href="#">  Program of Study </a></li>
  <li><a href="#">  Our Faculty </a></li>
  <li><a href="#">  Student Profiles </a></li>
  <li><a href="#">  FAQ </a></li>
  <li><a href="#">  Admissions </a></li>
  <li><a href="#">  Apply Now </a></li>
  <li class="divider"></li>
  <!-- <li><a href="#"> </a></li> -->
  <li><a href="#">  Funding Opportunities </a></li>
  <li><a href="#">  Contact Us </a></li>
</ul>

{% endblock %}
