{% extends "base.html" %} 

{% block prospectives %}class="active"{% endblock %} 

<!-- ==================================================== -->
{% block prospective_sidebar %} 

<ul class="nav nav-list">
  <li class="nav-header">Prospective Students</li>
  <li><a href="#">About the Neuroscience Program</a></li>
  <li><a href="#"> Program of Study </a></li>
  <li><a href="#"> Our Faculty </a></li>
  <li><a href="#"> Student Profiles </a></li>
  <li><a href="#"> FAQ </a></li>
  <li class="divider"></li>
  <li><a href="#"> Admissions </a></li>
  <li><a href="#"> Funding </a></li>
  <li><a href="#"> Contact </a></li>
  <li><a href="#"> Apply Now </a></li>
</ul>

{% endblock %}

{% block content %} {% endblock %}
