{% extends "base.html" %}

{% block current_students %}class="active"{% endblock %}

<!-- ==================================================== -->
{% block sidebar %}

<ul class="nav nav-list well">
  <li class="nav-header">Students</li>
  <li {% block studentprofiles %}{% endblock %}><a href="/students/profiles"> <i class="icon-user"></i> Student Profiles</a></li>
  <li {% block alumniprofiles %}{% endblock %}><a href="/alumni/profiles"> <i class="icon-user-md"></i> Alumni Profiles</a></li>
  <li {% block calendar %}{% endblock %}><a href="/students/events"> <i class="icon-calendar"></i> Calendar </a></li>
  <li {% block courses %}{% endblock %}><a href="/students/courses"> <i class="icon-briefcase"></i> Courses</a></li>
  <li {% block photos %}{% endblock %}><a href="/students/photos"> <i class="icon-camera"></i> Photos</a></li>
  <li {% block library %}{% endblock %}><a href="/students/library"> <i class="icon-book"></i> Lending Library </a></li>
  <li class="divider"></li>
  <li><a href="https://neuroscienceprogram.stanford.edu/students"> <i class="icon-lock"></i> Intranet </a></li>
  <li><a href="https://neuroscienceprogram.stanford.edu/evals"> <i class="icon-lock"></i> Journal Club </a></li>
</ul>

{% endblock %}

{% block content %} {% endblock %}
